 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
main{
    width: 100vw;
    height: 100vh;
    display: flex;
}
.left{
    width: 50vw;
    height: 100vh;
    background-color: #FEFEFE;
}
.left img{
    width: 500px;
    height: 700px;
    position: absolute;
    left:592px;
    top: 150px;
}
.right{
    width: 50vw;
    height: 100vh;
    background: linear-gradient(to top,#B22F26,#BE3E33);   
}